.css-1v5z18m {
    width: 100% !important;
}
.css-eg0mwd-MuiSlider-thumb {
    width: 16px !important;
    height: 16px !important;
}
.css-eg0mwd-MuiSlider-thumb,
.css-1gv0vcd-MuiSlider-track,
.css-14pt78w-MuiSlider-rail {
    background-color: #0f1b13 !important;
    border: none !important;
}
.css-eg0mwd-MuiSlider-thumb:hover,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px #0f1b1318 !important;
}
