@font-face {
    font-family: "dejavu";
    src: url(/assets/fonts/dejavu-sans.ttf);
}
@font-face {
    font-family: "mtav";
    src: url(/assets/fonts/AS-Grammatika-Regular_Mtav.ttf);
}
@font-face {
    font-family: "BOG2023";
    src: url(/assets/fonts/BOG2023-Regular.ttf);
}
*,
*::after,
*::before {
    font-family: "dejavu";
}
body {
    font-family: "dejavu";
}
.bold {
    font-family: "mtav";
    font-weight: bold;
}
.bogfont {
    font-family: "BOG2023";
}
